<div style="margin-top: 150px;">

        <mat-card style="text-align: center;width: 400px;border: 3px solid #3f51b5;">
            <div>
                <h1>Forgot Password</h1>
            </div>
            <form [formGroup]="forgotform" (ngSubmit)="submit()">
                <p>
                    <mat-form-field>
                        <mat-label>email</mat-label>
                        <input matInput formControlName = "email">
                        <mat-error *ngIf = "e.invalid">req password</mat-error>
                    </mat-form-field>
                </p>
        </form>
            <button mat-raised-button color="primary" type="submit">Reset password</button>
            <span style="margin-left: 20px;"></span>
            <a routerLink = "/home/login">login</a>
        </mat-card>
       
    </div>
