<div class="container">
    <div class="container1">
        <mat-card>
            <div>
                <h1>Forgot Password</h1>
            </div>
            <form [formGroup]="forgotform" (ngSubmit)="submit()">
                <p>
                    <mat-form-field>
                        <mat-label>email</mat-label>
                        <input matInput formControlName = "email">
                        <mat-error *ngIf = "e.invalid">req password</mat-error>
                    </mat-form-field>
                </p>
        </form>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card>
    </div>
</div>