<div>
  <mat-card >
    <form [formGroup]="employeeform" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearence="standard">
          <mat-label>employee name</mat-label>
          <input placeholder="name" matInput formControlName="name">
          <mat-error *ngIf="n.invalid">req name</mat-error>
          <mat-error *ngIf="n.requiredLength">req 4 char</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearence="standard">
          <mat-label>employee Position</mat-label>
          <input placeholder="position" matInput formControlName="position">
          <mat-error *ngIf="p.invalid">req position</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearence="standard">
          <mat-label>employee office</mat-label>
          <input placeholder="office" matInput formControlName="office">
          <mat-error *ngIf="o.invalid">required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearence="standard">
          <mat-label>employee Salary</mat-label>
          <input placeholder="salary" matInput formControlName="salary">
          <mat-error *ngIf="s.invalid">required</mat-error>
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" (click)="add()" type="submit" class="button1">Add</button>
      <button mat-raised-button color="primary" (click)="reset()" class="button1">reset</button>
    </form>
  </mat-card>
 <mat-card class="mat2">
   <mat-card-content>
    <div class="example-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef > Name. </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="office">
          <th mat-header-cell *matHeaderCellDef> Office </th>
          <td mat-cell *matCellDef="let element"> {{element.office}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click)="edit( element._id)"><mat-icon>edit</mat-icon></button> </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click)="delete(element._id)"><mat-icon>delete</mat-icon></button></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>
   </mat-card-content>
 </mat-card>
</div>

