li{
    list-style: none;
    margin-left: 10px;
}
li a{
    color:white;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
    font-size:larger;
}
ul{
    display: flex;
}
mat-toolbar{
    background-color: Blue;
}