<form>
<p>
    <mat-form-field appearence = "standard">
    <mat-label>employee name</mat-label>
    <input placeholder="name" matInput >
    </mat-form-field>
</p>
<p>
    <mat-form-field appearence = "standard">
    <mat-label>employee position</mat-label>
    <input placeholder="position" matInput >
    </mat-form-field>
</p>
<p>
    <mat-form-field appearence = "standard">
    <mat-label>employee office</mat-label>
    <input placeholder="office" matInput >
    </mat-form-field>
</p>
<p>
    <mat-form-field appearence = "standard">
    <mat-label>employee salary</mat-label>
    <input placeholder="salary" matInput >
    </mat-form-field>
</p>

<button mat-raised-button color="primary"  type="submit">update</button>
<button mat-raised-button color="primary" >reset</button>
</form>